#createBucket {
	position: absolute;
	height: 260px;
	width: 600px;
}

#bucketTitleContainer {
	position: absolute;
	top: 0;
	width: 600px;
	height: 60px;
	background:#f0f0ed;
	border-radius: 10px;
}

#bucketTitle {
	height: 100%;
	width: 100%;
	text-align: left;
}

#bucketTitleInput {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 1px solid gray;
	font-family:"Amaranth";
	font-size: 200%;
}

#bucketInfoContainer {
	position: absolute;
	bottom: 0;
	height: 180px;
	width: 100%;
	background: #FFFFFF;
}

#bucketTextContainer {
	float: right;
	width: 360px;
	height: 140px;
	margin: 20px;
}

#bucketTextInput {
	border-radius: 10px;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	font-family:"Amaranth";
	font-size: 120%;
	text-wrap: normal;
}
