/* --- Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- /Reset --- */





/* --- Main Style --- */

html, body {
	width:100%;
	height:100%;
	min-width:900px;
}
body {
	background:#F9F9C5;
}

h1 {
	font-family:"Amaranth";
	font-size:36px;
}
h2 {
	font-family:"Amaranth";
	display:inline-block;
	font-size:28px;
	color:#666666;
}

h3 {
	font-family:"Amaranth";
	display:inline-block;
	font-size:18px;
	color:#666666;
}
p {
	font-family:"Muli";
	font-weight:light;
	font-size:14px;
	line-height:18px;
}
/* --- /Main Style --- */



/* --- Header --- */

#header {
	width:100%;
	background:#fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#header_container {
	position:relative;
	width:860px;
	padding-top:20px;
	margin:0 auto 0 30px;
	background:url("../images/header-background.jpg") 340px 60px no-repeat;
	box-shadow:5px 0px 0 #fff, -5px 0px 0 #fff, 0 2px 5px rgba(0, 0, 0, 0.3);
}
#header #logo {
	background:#B5D33F;
	width:370px;
	display:inline-block;
}
#header #logo a {
	margin:0 auto;
}
#header ul {
	display:inline-block;
	position:absolute;
	bottom:0;
	right:1px;
}
#header ul li {
	display:inline-block;
}
#header ul li a {
	font-size:20px;
	text-decoration:none;
	font-family:"Amaranth";
	color:#58595B;
	height:20px;
	display:inline-block;
	padding:10px 33px 10px 10px;
	background:#B5D33F;
}
#header ul li a:hover {
	text-decoration:none;
	color:#555;
	background:#cce079;
}
#header ul li:last-child {
	font-size:20px;
	font-family:"Amaranth";
	color:#58595B;
	height:20px;
	display:inline-block;
	padding:10px 23px 10px 10px;
	background:#B5D33F;
}
#header ul li:last-child:hover {
	text-decoration:none;
	color:#555;
	background:#cce079;
}
#top_nav_search div, #top_nav_search input {
	display:inline-block;
}
#top_nav_search input {
	border-radius:5px;
	box-shadow:inset 0px 1px 2px #58595B;
	padding:4px 5px;
	margin:0px 0 -4px 4px;
	width:auto;
	border:0;
}

/* --- /Header --- */




/* --- Sidebar --- */

#sidebar_container {
	width:300px;
	position:absolute;
	left:920px;
	background:#DBDCDC;
	border-radius:10px;
	padding:20px;
	z-index:2;
}

#sidebar_subcontainer {
	background:#F0F0ED;
	border-radius:10px;
	padding:20px;
}

#sidebar_subcontainer h2 {
	font-family:"Muli";
	font-weight:light;
	display:inline-block;
	font-size:20px;
	color:#666666;
}

#sidebar_subcontainer ul {

}

#sidebar_subcontainer li {
	font-family:"Muli";
	font-weight:light;
	list-style-images: url("../images/check.png");
}
#breadcrumbs {
	margin-bottom:20px;
}
#breadcrumbs a {
	text-decoration:none;
	font-family: "Muli";
	line-height:1.5em;
	font-size:14px;
	color:#333;
}
#breadcrumbs a:hover {
	border-bottom:1px solid #333;
}
#experience_info div {
	float:left;
	width:300px;
}
#experience_info p {
	font-family:"Muli";
	font-weight:light;
	font-size:14px;
	line-height:18px;
}
#experience_info span {
	font-family:"Muli";
	font-style:italic;
}

/* --- /Sidebar --- */





/* --- Photo Uploader --- */

.photo_upload {
	padding:6px 16px;
	background:#F0F0ED;
	box-shadow: 0px 2px 0px #bcbec0;
	border-radius:10px;
	background-image:url('../images/upload-photo.jpg');
	background-repeat:no-repeat;
	background-position-x:16px;
	background-position-y:6px;
	text-align:center;
	cursor:pointer;
	margin:0;
	width:180px;
	height:180px;
}

.photo_upload:hover {
	box-shadow: 0px 2px 5px #bcbec0 inset;
	background-image:url('../images/upload-photo-hover.jpg');
}



/* --- Dim --- */

.dim_background{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:3 !important;
	background:#333300;
	opacity: 0.50;
	display:none;
}

.dim {
	height:100%;
	width:100%;
	position:fixed;
	top:100px;
	z-index:4 !important;
	display:none;
}
.dim_container{
	background:#DBDCDC;
	margin:0 auto;
	padding:50px 70px;
	width:300px;
	border-radius:20px;
	height:450px;
	position:relative;
}
.dim_container h2 {
	font-family:"Amaranth";
	display:inline-block;
	font-size:50px;
	color:#666666;
	letter-spacing: -1px;
}
.dim_container p {
	font-family:"Amaranth";
	display:inline-block;
	font-size:24px;
	line-height:1.6em;
	margin:20px 0 30px;
	color:#666666;
}
.dim_cancel {
	position:absolute;
	top:5px;
	right:5px;
	background:url("../images/signup-cancel-sprite.jpg") no-repeat;
	background-position:0 0;
	width:40px;
	height:40px;
	cursor:pointer;
}
.dim_cancel:hover {
	background-position:0 -40px;
}
.dim_or {
	font-family:"Amaranth";
	font-size:24px;
	line-height:1.6em;
	color:#666666;
	text-align:center;
	padding:0;
}
.dim_social {
	padding:10px;
	background:#EFEFF0;
	box-shadow: 0px 2px 0px #bcbec0;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	margin:0;
	width:auto;
}
.dim_social:hover {
	background-color: #f9f9f9;
}
.dim_social_active {
	margin:2px 0 -2px;
	box-shadow:none !important;
	background-color: #f9f9f9 !important;
}
.dim_social img {
	margin:0 auto;
}


/* --- /Dim --- */







/* --- Body --- */

#body {
	width:100%;
}
#body_container {
	width:860px;
	margin:0 auto 0px 30px;
	background:#E1EB92;
	min-height:500px;
	padding-bottom:20px;
}

/* --- /Body --- */







/* --- Buckets --- */

.bucket_container {
	height:auto;
	width:690px;
	position:relative;
	margin-bottom:140px;
}
.bucket_info {
	display:inline-block;
	margin:20px 10px;
	background:#f0f0ed;
	border-radius:10px;
	height:auto;
	width:100%;
	position:absolute;
	box-shadow: 0px 2px 0px #bcbec0;
}
.bucket_name {
	padding:10px;
}
.bucket_description {
	padding:10px;
}
.bucket_description p {
	margin-top:10px;
	font-family: "Muli";
	line-height:1.5em;
	font-size:14px;
}
.bucket_votes {
	width:130px;
	background:#f0f0ed;
	border-radius:10px;
	display:inline-block;
	margin:20px 10px;
	padding:5px 0;
	box-shadow: 0px 2px 0px #bcbec0;
}
.bucket_votes_score {
	font-family:"Amaranth";
	display:inline-block;
	font-size:48px;
	padding:12px 0 0;
	color:#666666;
	display:inline-block;
	position:absolute;
	width:80px;
	text-align:right;
}
.bucket_votes_images {
	display:inline-block;
	width:60px;
	margin-left	:75px;
}
.bucket_votes_images img {
	cursor:pointer;
	margin:0 auto;
	display: block;
}
.bucket_votes_images img:first-child {
	margin-bottom:-5px;
}
.bucket_votes img.active {
	margin:1px auto -1px;
}
.bucket_votes img:first-child.active {
	margin:1px auto -6px;
}
.bucket_photos {
	padding:10px;
}
.bucket_photos img {
	min-width:40px;
	max-width:130px;
	height:80px;
	border-radius:10px;
}
.bucket_photos a {
	height:80px;
	min-width:40px;
	max-width:130px;
	margin-right:5px;
	display:inline-block;
}

/* --- /Buckets --- */




/* --- Experiences --- */

#experience_header {
	margin:0px 0 20px 160px;
}

.experience_container {
	height:auto;
	width:690px;
	position:relative;
	margin:10px 0 20px 160px;
	box-shadow: 0px 2px 0px #bcbec0;
	background:#f0f0ed;
	border-radius:10px;
}
.experience_info {
	display:inline-block;
	margin:20px 10px;
	height:auto;
	padding:10px;
	position:absolute;
}
.experience_description {
	padding:10px;
}
.experience_description p {
	margin-top:10px;
	font-family: "Muli";
	line-height:1.5em;
	font-size:14px;
}
.experience_votes {
	width:130px;
	border-radius:10px;
	display:inline-block;
	margin:20px 10px;
	padding:5px 0;
}
.experience_votes_score {
	font-family:"Amaranth";
	display:inline-block;
	font-size:48px;
	padding:12px 0 0;
	color:#666666;
	display:inline-block;
	position:absolute;
	width:80px;
	text-align:right;
}
.experience_votes_images {
	display:inline-block;
	width:60px;
	margin-left	:75px;
}
.experience_votes_images img {
	cursor:pointer;
	margin:0 auto;
	display: block;
}
.experience_votes_images img:first-child {
	margin-bottom:-5px;
}
.experience_votes img.active {
	margin:1px auto -1px;
}
.experience_votes img:first-child.active {
	margin:1px auto -6px;
}
.experience_photo {
	padding:10px;
	display:inline-block;
}
.experience_photo img {
	min-width:40px;
	max-width:130px;
	height:80px;
	border-radius:10px;
}
.experience_photo a {
	height:80px;
	min-width:40px;
	max-width:130px;
	margin-right:5px;
	display:inline-block;
}

/* --- /Experiences --- */




/* --- Bucket Submit --- */


#createBucket {
    position: relative;
	height: 320px;
	width: 600px;
    left: 160px;
}

#bucketTitleContainer {
	position: absolute;
	top: 0;
	width: 600px;
	height: 60px;
	background:#f0f0ed;
	border-radius: 10px;
}

#bucketTitle {
	height: 100%;
	width: 100%;
	text-align: left;
}

#bucketTitleInput {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	border: 1px solid gray;
	font-family:"Amaranth";
	font-size: 200%;
}

#bucketInfoContainer {
    padding: 5px 0;
    box-shadow: 0px 2px 0px #bcbec0;
	position: absolute;
	border-radius: 10px;
	bottom: 50;
	height: 180px;
	width: 100%;
	background:#f0f0ed;
}

#bucketPhotoContainer {
	border-radius: 10px;
	float: left;
	width: 140px;
	height: 140px;
	margin: 20px;
}

#bucketPhoto {
	padding:6px 16px;
	background:#F0F0ED;
	box-shadow: 0px 2px 0px #bcbec0;
	border-radius:10px;
	background-image:url('../images/upload-photo.jpg');
    background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position-x:2px;
	background-position-y:6px;
	text-align:center;
	cursor:pointer;
	margin:0;
	width:120px;
	height:120px;
}

#bucketPhoto:hover {
	box-shadow: 0px 2px 5px #bcbec0 inset;
	background-image:url('../images/upload-photo-hover.jpg');
}

#bucketTextContainer {
	float: right;
	width: 340px;
	height: 120px;
    padding: 30px;
}

#bucketTextInput {
    position: absolute;
    padding: 10px;
	border-radius: 10px;
    box-shadow: inset 0px 2px 3px #58595B;
    border: 0;
	width: 340px;
	height: 120px;;
	font-family:"Muli";
	font-size: 14px;
    line-height: 18px;
	text-wrap: normal;
}

#submitBucket {
    position: absolute;
    border-radius: 10px;
    right: 0px;
    bottom: 0;
    width: 80px;
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}


/* --- /Bucket Submit --- */




/* --- Extra --- */

.clear {
	clear:both;
	float:none !important;
}

/* --- /Extra --- */
