<html>
<head>
	<title>Bucket List - Experience</title>
	<link href='http://fonts.googleapis.com/css?family=Muli|Amaranth' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<script src="lib/jquery.js"></script>
	<script src="lib/underscore.js"></script>
	<script src="lib/backbone.js"></script>
	<script src="js/Main.js"></script>
	<script src="js/view/BucketView.js"></script>
    <script src="js/view/BucketListView.js"></script>
    <script src="js/view/SubmitExperienceView.js"></script>
</head>
<body>
	
	<div class="dim_background dim_signup"></div>
	<div class="dim dim_signup">
		<div class="dim_container">
			<div class="dim_cancel signup_cancel"></div>
			<div class="signup">
				<h2>Sign up!</h2>
				<p>You're 30 seconds away from joining the most fun community in Tampa.</p>
				<div class="dim_social">
					<img src="images/facebook-badge.png" />
				</div>
				<center><p class="dim_or">or</p></center>
				<div class="dim_social">
					<img src="images/twitter-badge.png" />
				</div>
			</div>
		</div>
	</div>

	<div class="dim_background dim_submit"></div>
	<div class="dim dim_submit">
		<div class="dim_container"> 
			<div class="dim_cancel submit_cancel"></div>
			<div id="submitTitle">
				<input type="TEXT" id="submitTitleInput" placeHolder="Title" />
			</div>
			
			<div id="submitTextContainer">
	                <textarea rows="3" placeHolder="Info" id="submitTextInput"></textarea>
			</div>

			<div id="bucketCategory">
				<!--<select id="bucketCategoryOptions">
					<option value="nightlife" > Night Life </option>
					<option value="attractions" > Attractions </option>
					<option value="food"> Food </option>
	            </select>-->
			</div>
	        
	        <form id="submitPhotoUpload" enctype="multipart/form-data" action="/api/photos" method="post">
				<div id="submitBucketPhoto"></div>
	            <input type="file" id="submitUserPhotoInput" name="userPhoto" />
	            <div id="imagePreview"><img height="100px" /></div>
	        </form>

	        <button id="submitBucket">Done!</button>
		</div>
	</div>

	<div id="header">
		<div id="header_container">
			<div id="logo">
				<a href="/"><img src="images/header-logo.jpg" /></a>
			</div>
			<ul id="top_nav">
				<li><a href="#">my stuff</a></li>
				<li id="submit_button"><a href="#">submit</a></li>
				<li id="top_nav_search">
					<div>search</div>
					<input />
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body">

		<div id="sidebar_container">
			<div id="sidebar_subcontainer">
				<div id="breadcrumbs">
					<a href="/">Home</a> > 
					<a href="/category">My Category</a> >
					<a href="/post">Camel To The Promised Land</a>
				</div>
				<div id="experience_info">
					<div id="experience_about">
						<h2>About</h2>
						<p><span>Author:</span> <a href="/user">Tits McGee</a></p>
						<p><span>Posted:</span> Jun 20, 2012</p>
						<p><span>Category:</span> asdf</p>
					</div>
					<div id="experience_location">
						<h2>Location</h2>
						<p>Address</p>
					</div>
					<div id="experience_dates">
						<h2>Dates</h2>
						<p><span>Start:</span> Jun 21, 2012 8am</p>
						<p><span>End:</span> Jun 23, 2012 9pm</p>
					</div>
					<div id="experience_completions">
						<h2>Completions</h2>
						<p>9,100 people have done this!</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div id="body_container">
			<div class="bucket_container">
				<div class="bucket_votes">
					<div class="bucket_votes_score">
						78
					</div>
					<div class="bucket_votes_images">
						<img src="images/upvote.png" />
						<img src="images/downvote.png" />
					</div>
				</div>	
				<div class="bucket_info">
					<div class="bucket_name"><a><h2>Camel To The Promised Land</h2></a></div>
					<div class="bucket_description">
						<p>This is my awesome thing to do. I think it's cool because I once rode a camel for 5 days in the desert, seeking the wisdom of the prophet Lil Phaty. He told me to go home to the beautiful Tampa, Florida and visit the Gecko Building. There I was destined to douse the building in a glorious stream of yellow liquid. It was unclear if he was refering to Mountain Dew or Lemonade, so I pissed all over the structure. I have now ascended to a higher place and would like some company. DO EEEET!</p>
					</div>
				</div>
			</div>

			<div id="experience_tabs">
				<ul>
					<li><h2>Add Experience</h2></li>
					<li><h2>View Experiences</h2></li>
				</ul>
			</div>

			<div id="create_bucket_container">
	            <div id="createBucket">
	                <div id="bucketTitleContainer">
	                    <div id="bucketTitle">
	                        <input type="TEXT" id="bucketTitleInput" placeHolder="Enter title here" />
	                    </div>
	                </div>

	                <div id="bucketInfoContainer">	
	                    <div id="bucketPhotoContainer">
	                        <div id="bucketPhoto"></div>
	                    </div>
	                    <div id="bucketTextContainer">
	                            <textarea rows="3" placeHolder="Enter details here" id="bucketTextInput"></textarea>
	                    </div>

	                    <div id="bucketCategory">
	                        <!--<select id="bucketCategoryOptions">
	                            <option value="nightlife" > Night Life </option>
	                            <option value="attractions" > Attractions </option>
	                            <option value="food"> Food </option>
	                        </select>-->
	                    </div>
	                </div>

	                <button id="submitBucket" >Done!</button>

	                <form id="photoUpload" enctype="multipart/form-data" action="/api/photos" method="post"> 
	                    upload photo here:
	                    <input type="file" id="userPhotoInput" name="userPhoto" />
	                    <div id="imagePreview"><img height="100px" /></div>
	                </form>
	            </div>
        	</div>


            <div id="experience_all_container">
				<div class="experience_container">
					<div class="experience_votes">
						<div class="experience_votes_score">
							63
						</div>
						<div class="experience_votes_images">
							<img src="images/upvote.png" />
							<img src="images/downvote.png" />
						</div>
					</div>
					<div class="experience_photo"> 	
						<img src="images/party1.jpg" width="150px" />
					</div>	
					<div class="experience_info">
						<div class="experience_text">
							<p>Ma Niggggggga! I totally took your advice. It was good advice. Me and my girl Shanequarastafondasherome ascended to a higher place so many times last night. Mad respect yo.</p> 
						</div>
					</div>
				</div>


				<div class="experience_container">
					<div class="experience_votes">
						<div class="experience_votes_score">
							24
						</div>
						<div class="experience_votes_images">
							<img src="images/upvote.png" />
							<img src="images/downvote.png" />
						</div>
					</div>
					<div class="experience_photo"> 	
						<img src="images/party1.jpg" width="150px" />
					</div>	
					<div class="experience_info">
						<div class="experience_text">
							<p>TMmmmmmmm keep excreting your bodily fluids all over my precious gecko. nomnomnom nomonono momon oomomonomm onoom</p>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/template" id="bucketView-template">
    <div class="bucket_container">
        <div class="bucket_votes">
            <div class="bucket_votes_score">
                <%= upVotes-downVotes %>
            </div>
            <div class="bucket_votes_images">
                <img class="upVote" src="images/upvote.png" />
                <img class="downVote" src="images/downvote.png" />
            </div>
        </div>	
        <div class="bucket_info">
            <div class="bucket_name"><a><h2><%= title %></h2></a></div>

            <div class="bucket_photos">
                <a href="#"><img src="images/party1.jpg" /></a>
                <a href="#"><img src="images/party1.jpg" /></a>
                <a href="#"><img src="images/party1.jpg" /></a>
                <a href="#"><img src="images/party1.jpg" /></a>
            </div>
        </div>
    </div>
</script>

<script>
$(".bucket_votes img").live({
	"mouseenter" : function() {
		var src = $(this).attr("src");
		src = src.replace(".", "-active.");
		$(this).attr("src", src);
		$(this).addClass("active");
	},
	"mouseleave" : function() {
		var src = $(this).attr("src");
		src = src.replace("-active.", ".");
		$(this).attr("src", src);
		$(this).removeClass("active");
	}
});


$(".dim_cancel").click(function() {
	$(".dim_background").fadeOut();
	$(".dim").fadeOut();
});
$(".dim_social").live({
	"mousedown" : function() {
		$(this).addClass("dim_social_active");
	},
	"mouseout" : function() {
		$(this).removeClass("dim_social_active");
	},
	"mouseup" : function() {
		$(this).removeClass("dim_social_active");
	}
});






var window_width = $(window).width();
$(window).resize(function() {
	onResize();
});

$(window).scroll(function() {
	onResize();
});

function onResize() {
	window_width = $(window).width();
	if (window_width < 1250) { // sidebar in body
		var headerHeight = $("#header").height();
		headerHeight = 245 + 13;
		var scrollTop = $(window).scrollTop();
		if (scrollTop > headerHeight) {
			var style = {
				"position":"fixed", 
				"top":"0",
				"margin":"0",
				"left":"30px",
				"border-radius":"0px",
				"width":"820px"
			};
			$("#sidebar_container").css(style);
			$("#experience_info div").css({"width":"150px", "marginRight":"20px", "margin-bottom":"0px"});
			$("#body_container").css("paddingTop", sidebarHeight + 10);
		}
		else {
			var style = {
				"position":"absolute", 
				"top":headerHeight,
				"left":"30px",
				"margin":"0",
				"border-radius":"0px",
				"width":"820px"
			};
			$("#sidebar_container").css(style);
			var sidebarHeight = $("#sidebar_container").height() + 40;
			$("#experience_info div").css({"width":"150px", "marginRight":"20px", "margin-bottom":"0px"});
			$("#body_container").css("paddingTop", sidebarHeight + 10);
		}
	}
	else { // sidebar floating next to body
		var headerHeight = $("#header").height();
		headerHeight = 245;
		var scrollTop = $(window).scrollTop();
		if (scrollTop > headerHeight) {
			var style = {
				"position":"fixed", 
				"top":"10px",
				"left":"920px",
				"margin":"0",
				"border-radius":"10px",
				"width":"300px"
			};
			$("#sidebar_container").css(style);
			$("#experience_info div").css({"width":"300px", "marginRight":"0px", "margin-bottom":"20px"});
			$("#body_container").css("paddingTop", "0px");
		}
		else {
			var style = {
				"position":"absolute", 
				"top":headerHeight+10,
				"left":"920px",
				"margin":"0",
				"border-radius":"10px",
				"width":"300px"
			};
			$("#sidebar_container").css(style);
			var sidebarHeight = $("#sidebar_container").height() + 40;
			$("#experience_info div").css({"width":"300px", "marginRight":"0px", "margin-bottom":"20px"});
			$("#body_container").css("paddingTop", "0px");
		}
	}
}
$(document).ready(function() {
	onResize();
	$("#experience_tabs").find("li").eq(0).click();
});


$("#experience_tabs li").click(function() {
	var index = $("#experience_tabs").find("li").index(this);
	if (index == 0) {
		$("#create_bucket_container").hide();
		$("#experience_all_container").show();
	}
	else if (index == 1) {
		$("#experience_all_container").hide();
		$("#create_bucket_container").show();
	}
});


$("#submit_button").click(function() {
	$(".dim_submit").fadeIn();
});

$(".submit_cancel").click(function() {
	$(".dim_submit").fadeOut();
});

$(".dim_social").live({
	"mousedown" : function() {
		$(this).addClass("dim_social_active");
	},
	"mouseout" : function() {
		$(this).removeClass("dim_social_active");
	},
	"mouseup" : function() {
		$(this).removeClass("dim_social_active");
	}
});
$("#submitBucketPhoto").click(function(){$("#submitUserPhotoInput").click()});

</script>
</html>